* {
    text-transform: capitalize;
}

.main {
    border: 3.5px solid black;
    height: 250px;
    width: 650px;
}

.text {
    font-size: 40px;
    font-weight: 600;
    margin: 15px;
}

.box {
    margin: 30px;
    background-color: blue;
    height: 100px;
    width: 550px;
    padding: 10px;
}

.name {
    background-color: yellow;
    font-size: 20px;
    margin: 20px;
    padding: 25px;
    padding-bottom: 15px ;
    text-align: center;
}