
.text1{
    font-size: 30px ;

}
.container{
    float: left;
    background-color: pink;
    border: 2px solid black;
    height: 500px;
    width: 700px;

}
.text2{
    text-align: center;
    float: left;
}
