* {
    text-transform: capitalize;
}

.main {
    border: 5px solid black;
    height: 400px;
    width: 650px;
}

.text {
    font-size: 40px;
    font-weight: 600;
    margin: 5px;
    
}

.box {
    margin: 30px;
    
    height: 100px;
    width: 550px;
    padding: 10px;
}

.name {
    
    font-size: 20px;
    margin: 20px;
    padding: 25px;
    padding-bottom: 15px ;
    text-align: center;
}

.name1{
    font-size: 40px;
    text-align: center;
    margin: 20px;
    background-color: yellow;
}

.name2{
    font-size: 40px;
    margin: 20px;
    text-align: center;
    background-color: blue;
}

.para{
    text-align: center;
}