p{
    color: red;
    background-color: 
    rgb(73, 73, 34) ;
    text-align: center;
    font-size: 25px;
    border: 5px solid black;

}

body{
    background-color: lightpink;
    align-content: center;
    text-align: center;
}

.SK{
    color: red;
    background-color: violet;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 5px solid black;
    margin: 5px;
    text-align: center;
    align-content: center;
    display: inline-flex;
    justify-content: center;
    margin-top: 100px;
    margin-right: 200px;
}
 #SK1{
    
    margin-right: 100px;
}
 #SK2{
   
    margin-right: 200px;

 }

 #SK3{
   
    margin-right: 400px;

 }

 #SK4{
   
    margin-right: 600px;
}
 

   